.auth {
	h1 {
		text-align: center;
		font-family: 'Golos Text';
		font-weight: 500;
		font-size: 22px;
		color: rgba(34, 34, 34, 1);
		margin-bottom: 26px;
	}
	input[type="text"],
	input[type="password"] {
		border: 2px solid #EDF0F2;
		box-sizing: border-box;
		border-radius: 2px;
		height: 50px;
		width: 100%;
		color: rgba(160, 160, 162, 1);
		padding: 0 20px;
		margin-bottom: 20px;
		outline: 0px;
		transition: 0.2s;
		&:focus {
			border-color: rgba(24, 117, 240, 1);
			color: rgba(24, 117, 240, 1);
		}
	}
	input[type='checkbox'] {
		display: none;
		& + label {
			position: relative;
			padding-left: 40px;
			font-size: 14px;
			color: rgba(34, 34, 34, 1);
			font-family: 'Golos Text';
			font-weight: 400;
			margin-bottom: 20px;
			cursor: pointer;
			&::before,
			&::after {
				display: block;
				content: '';
				position: absolute;
			}
			&::before {
				width: 30px;
				height: 30px;
				border: 2px solid #EDF0F2;
				box-sizing: border-box;
				border-radius: 2px;
				left: 0;
				top: calc(50% - 15px);
			}
			&::after {
				width: 18px;
				height: 14px;
				background-image: url('../../../images/icons/checkbox.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				left: 7px;
				top: calc(50% - 7px);
				transition: 0.2s;
				transform: scale(0);
			}
		}
		&:checked + label {
			&::after {
				animation: scale 0.2s;
				transform: scale(1);
			}
		}
	}
}

@keyframes scale {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(2);
	}
	100% {
		transform: scale(1.0);
	}
}