.white {
	&.payment {
		.radio {
			padding: 13px 28px 13px 60px;
			border: 1px solid #EBEBF5;
			border-radius: 6px;
			margin-bottom: 20px;
			position: relative;
			cursor: pointer;
			&:nth-last-child(1) {
				margin-bottom: 0;
			}
			&::after,
			&::before {
			    content: "";
			    position: absolute;
			    display: block;
			    border-radius: 50%;
			    transition: 0.2s;
			}

			&::before {
			    width: 28px;
			    height: 28px;
			    border: 2px solid #EDF0F2;
			    left: 16px;
			    top: calc(50% - 14px);
			}
			&.active {
			    color: #1875F0;
			    border-color: #1875F0;

			    &::before {
			        border-color: #1875F0;
			    }

			    &::after {
			        width: 16px;
			        height: 16px;
			        left: 22px;
			        top: calc(50% - 8px);
			        background-color: #1875F0;
			    }
			}
		}
	}
}