h3 {
	font-family: 'Golos Text';
	font-weight: 500;
	font-size: 20px;
	color: rgba(34, 34, 34, 1);
	margin: 0;
	padding: 0;
}
aside {
	background-color: white;
	padding: 50px 35px 35px;
	.stat {
		width: 200px;
		height: 200px;
		background-image: url('../../../images/stat.svg');
		margin: auto;
	}
}
ul.nav-days {
	background: rgba(118, 118, 122, 0.1);
	border-radius: 6px;
	margin-bottom: 0;
	display: inline-flex;
	height: 40px;
	padding: 3px;
	.nav-item {
		display: flex;
		.nav-link {
			font-family: 'Golos Text';
			font-weight: 400;
			font-size: 14px;
			display: flex;
			align-items: center;
			padding: 0 1rem;
			color: rgba(34, 34, 34, 1);
			transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
		    &.active {
		        background-color: #FFFFFF;
		        border: 0.5px solid rgba(0, 0, 0, 0.04);
		        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12),
		            0px 3px 1px rgba(0, 0, 0, 0.04);
				border-radius: 5px;
				color: rgba(216, 110, 40, 1);
		    }
		}
	}
}
.balance {
	font-family: 'Golos Text';
	small {
		font-size: 14px;
		color: #A0A0A2;
	}
	.current {
		font-weight: 500;
		font-size: 26px;
		color: rgba(34, 34, 34, 1);
		i {
			font-style: normal;
			font-size: 18px;
			color: #76767A;
		}
	}
}
.plan {
	font-family: 'Golos Text', sans-serif;
	background: #F6F6FA;
	border-radius: 6px;
	padding: 10px;
	.ico {
		width: 52px;
		height: 52px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #FFFFFF;
		box-shadow: 0px 10px 20px rgba(32, 71, 122, 0.1);
		border-radius: 3px;
		margin-right: 12px;
	}
	.current {
		font-size: 16px;
		color: #222222;
	}
	small {
		font-size: 14px;
		color: #A0A0A2;
	}
}
.traffic {
	.count {
		small {
			font-family: 'Golos Text';
			font-weight: 400;
			font-size: 12px;
			color: rgba(160, 160, 162, 1);
		}
		span {
			font-family: 'Golos Text';
			font-weight: 500;
			color: rgba(34, 34, 34, 1);
			b {
				font-weight: 600;
			}
			small {
				font-weight: 500;
				color: rgba(118, 118, 122, 1);
			}
		}
	}
}
.devices {
	.table-devices {
		font-family: 'Golos Text', sans-serif;
		.ico {
			display: inline-flex;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #F6F6FA;
			align-items: center;
			justify-content: center;
			margin-right: 12px;
		}
		thead {
			th {
				font-weight: 600;
				font-size: 12px;
				color: #222222;
				text-transform: uppercase;
				border: 0;
				padding: 0.5rem 0.75rem;
			}
		}
		tbody {
			tr {
				td {
					padding: 0.5rem 0.75rem;
					border: 0;
					font-size: 16px;
					color: #222222;
					.status {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 120px;
						height: 40px;
						border-radius: 30px;
						font-size: 14px;
						font-weight: 500;
						&.disable {
							background-color: rgba(247, 247, 247, 1);
							color: rgba(160, 160, 162, 1);
						}
						&.active {
							background-color: rgba(231, 249, 240, 1);
							color: rgba(50, 188, 120, 1);
						}
					}
				}
			}
		}
	}
}