.payment {
	.add {

	}
}
.buy {
	.add {
		input[type="radio"] {
			display: none;
			& + label {
				border: 2px solid #EDF0F2;
				display: flex;
				align-items: center;
				height: 56px;
				border-radius: 4px;
				padding-left: 60px;
				font-weight: 500;
				font-size: 14px;
				color: #222;
				cursor: pointer;
				transition: 0.2s;
				position: relative;
				&::after,
				&::before {
					content: "";
					position: absolute;
					display: block;
					border-radius: 50%;
					transition: 0.2s;
				}
				&::before {
					width: 28px;
					height: 28px;
					border: 2px solid #EDF0F2;
					left: 16px;
					top: calc(50% - 14px);
				}
			}
			&:checked + label {
				color: #1875F0;
				border-color: #1875F0;
				&::before {
					border-color: #1875F0;
				}
				&::after {
					width: 16px;
					height: 16px;
					left: 22px;
					top: calc(50% - 8px);
					background-color: #1875F0;
				}
			}
		}
		.rub {
			height: 50px;
			border: 2px solid #EDF0F2;
			border-radius: 4px;
			padding-right: 55px;
			padding-left: 10px;
			text-align: center;
			max-width: 160px;
		}
		.icon-rub {
			position: relative;
			&::after {
				position: absolute;
				content: '₽';
				padding: 3px 15px;
				border-left: 2px solid #EDF0F2;
				right: 0;
				font-size: 20px;
				color: #76767A;
				top: 7px;

			}
		}
	}
}