.traffic {
    ul.nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            border: 1px solid #EBEBF5;
            box-sizing: border-box;
            border-radius: 6px;
            margin-bottom: 15px;
            padding: 9px 19px 9px 9px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
            &.active {
                border-color: #1875F0;
            }
            .gray {
                max-width: 150px;
                width: 100%;
                height: 72px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Golos Text';
                font-size: 16px;
                color: opacify($color: #76767A, $amount: 0.3);
                background-color: opacify($color: #F3F3F4, $amount: 0.35);
                border-radius: 4px;
                b {
                    font-family: 'Golos Text';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 46px;
                    color: #1875F0;
                    margin-right: 8px;
                }
            }
            .price {
                font-weight: 400;
                color: #76767A;
                b {
                    font-size: 22px;
                    font-weight: 500;
                    color: #222222;

                }
            }
            .description {
                font-family: 'Golos Text';
                font-weight: 400;
                font-size: 14px;
                color: #76767A;
            }
            a.button {
                max-width: 150px;
                width: 100%;
            }
        }
    }
}
.buy {
	.add {
		small {
			font-size: 12px;
			color: #76767A;
			letter-spacing: 0.1px;
		}
	}
}
