$gray98: #fafafa;
$gray96: #f5f5f5;
$gray95: #f7f7f7;
$gray94: #f0f0f0;
$gray92: #E1E1E1;
$gray90: #e6e6e6;
$gray85: #d9d9d9;
$gray80: #cccccc;
$gray70: #b3b3b3;
$gray65: #a2a2a2;
$gray60: #999999;
$gray50: #808080;
$gray45: #76767a;
$gray40: #666666;
$gray30: #4d4d4d;
$gray20: #333333;
$gray15: #262626;
$gray10: #1a1a1a;
$gray5: #0d0d0d;
$black: #000000;
$blue: #1875f0;
$cat_blue: #499BF2;
$green: #50d166;
$green50: #73b722;
$olive: #8BB56D;
$dolive: #459789;
$red: #f13a30;
$red_btn: #f44336;
$orange: #f18f1c;
$dark_orange: #D86E28;
$cat_orange: #f67341;
$cat_orange2: #fcbaa1;
$gold: #F5E19F;
$yellow: #EBC641;
$purple: #5553ce;
$pink: #ea1e64;
