.administration {
    .hover {
        text-align: center;
        .block {
            padding-top: 90.90%;
            position: relative;
            margin-bottom: 15px;
            .content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0.5;
                transition: opacity 0.4s;
                .icon {
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: inline-flex;
                    &.video {
                        margin-right: 0;
                        max-width: 74px;
                        width: 100%;
                        height: 74px;
                        background-image: url('../images/icons/video.svg');
                    }
                    &.complaint {
                        margin-right: 0;
                        max-width: 75px;
                        width: 100%;
                        height: 74px;
                        background-image: url('../images/icons/complaint.svg');
                    }
                    &.measures {
                        margin-right: 0;
                        max-width: 65px;
                        width: 100%;
                        height: 74px;
                        background-image: url('../images/icons/measures.svg');
                    }
                    &.copy-site {
                        margin-right: 0;
                        max-width: 72px;
                        width: 100%;
                        height: 74px;
                        background-image: url('../images/icons/copy-site.svg');
                    }
                }
            }
        }
        a {
            color: #232323;
            font-size: 12px;
            font-weight: 500;
            line-height: 15.24px;
            text-decoration: underline;
            transition: color 0.2s;
        }
        &:hover {
            .block {
                .content {
                    opacity: 1;
                    .icon {
                        &.video {
                            background-image: url('../images/icons/video_active.svg');
                        }
                        &.complaint {
                            background-image: url('../images/icons/complaint_active.svg');
                        }
                        &.measures {
                            background-image: url('../images/icons/measures_active.svg');
                        }
                        &.copy-site {
                            background-image: url('../images/icons/copy-site_active.svg');
                        }
                    }
                }
            }
            a {
                color: $blue;
            }
        }
    }
}


.complaint-form {
    padding: 43px 41px;
    display: flex;
    .img {
        max-width: 55px;
        width: 100%;
        height: 55px;
        background-image: url('../images/icons/warning.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 40px;
    }
    .content {
        h3 {
            color: $gray40;
            font-size: 18px;
            font-weight: 400;
            margin-top: 17px;
            margin-bottom: 46px;
        }
        input, textarea {
            width: 100%;
            border-radius: 4px;
            border: 2px solid $gray94;
            transition: border-color 0.2s;
            height: 50px;
            padding: 0 17px;
            color: $gray60;
            font-size: 12px;
            &:focus {
                outline: none;
                border-color: $blue;
            }
        }
        textarea {
            padding-top: 15px;
            height: auto;
        }
    }
}
