.ads {
    .ad {
        .image {
            padding-top: 64.5%;
            background-size: cover;
            background-position: center;
        }
        .content {
            padding: 25px;
            .title {
                font-size: 14px;
                font-weight: 500;
                color: $gray20;
                line-height: 20px;
                margin-bottom: 3px;
            }
            .price {
                font-size: 16px;
                color: $gray20;
                font-weight: 400;
                margin-bottom: 25px;
                display: block;
            }
            p {
                font-size: 12px;
                font-weight: 400;
                line-height: 16.33px;
                margin-bottom: 0;
            }
        }
    }
    .block {
        margin: 0 15px 30px;
        width: 100%;
        .image {
            max-width: 293px;
            width: 100%;
            background-position: center;
            background-size: cover;
        }
        .content {
            width: 100%;
            .title {
                font-size: 18px;
                font-weight: 400;
                line-height: 25.67px;
                color: $gray15;
                margin: 30px 0 25px 35px;
                a {
                    color: $gray15;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                        color: $gray10;
                    }
                }
            }
            .short {
                color: $gray60;
                font-size: 13px;
                font-weight: 400;
                line-height: 25px;
                margin-left: 35px;
                margin-bottom: 30px;
            }
            .info {
                border-top: 2px solid $gray95;
                padding: 0 35px;
                .time {
                    color: #76767a;
                    font-size: 12px;
                    font-weight: 400;
                }
                .stats {
                    color: $gray70;
                    font-size: 12px;
                }
            }
        }
    }
}
.fullad {
    .carousel {
        .carousel-inner {
            .carousel-item {
                padding: 10px;
                img {
                    max-height: 80vh;
                    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
                    border-radius: 6px;
                    max-width: 100%;
                }
            }
        }
        .carousel-control-prev,
        .carousel-control-next {
            opacity: 1;
            cursor: pointer;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon, {
            background: $black;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            opacity: 0.6;
            position: relative;
            transition: opacity 0.2s;
            &:hover {
                opacity: 0.7;
            }
            &:active {
                opacity: 0.8;
            }
            &:after {
                position: absolute;
                content: '';
                background-image: url('../images/icons/arrow_icon.svg');
                background-size: 16px;
                background-position: center;
                background-repeat: no-repeat;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        .carousel-control-next-icon {
            &:after {
                transform: rotate(180deg);
            }
        }
    }
    .content {
        padding-top: 40px;
        p {
            padding: 0 40px 0 30px;
            margin-bottom: 25px;
            color: $gray40;
            font-size: 12px;
            font-weight: 400;
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
            img {
                margin: 0 -75px;
                width: calc(100% + 150px);
            }
        }
        .info {
            padding: 20px 40px;
            border-top: 1.5px solid $gray96;
            border-bottom: 1.5px solid $gray96;
            color: $gray70;
            font-size: 11px;
        }
        .tags {
            padding: 25px 40px 30px;
            span {
                font-size: 10px;
                color: #b8b8b8;
                padding: 4px 9px;
                border-radius: 4px;
                border: 2px solid $gray96;
            }
        }
    }
}
.ads {
    margin-bottom: 50px;
    .title {
        margin-bottom: 20px;
        h3 {
            font-size: 22px;
            font-weight: 600;
            color: $gray10;
            margin-right: 25px;
            margin-bottom: 0;
        }
        a {
            color: $blue;
            font-size: 15px;
            font-weight: 400;
            text-decoration: underline;
            transition: color 0.2s;
            &:hover {
                color: darken($blue, 10%);
            }
            &:active {
                color: darken($blue, 15%);
            }
        }
    }
    .carousel {
        &.slide {
        }
        .carousel-inner {
            .carousel-item {
                padding-top: 66.5%;
                background-size: cover;
                background-position: center;
                position: relative;
                .content {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
                    padding: 28px 25px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    font-size: 17px;
                    font-weight: 400;
                    color: rgba($white, .8);
                    h4 {
                        max-width: 55%;
                        line-height: 21.06px;
                        margin-bottom: 0;
                        a {
                            color: rgba($white, .8);
                            font-size: 15px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        .carousel-control-prev,
        .carousel-control-next {
            opacity: 1;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon, {
            background: $black;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            opacity: 0.6;
            position: relative;
            transition: opacity 0.2s;
            &:hover {
                opacity: 0.7;
            }
            &:active {
                opacity: 0.8;
            }
            &:after {
                position: absolute;
                content: '';
                background-image: url('../images/icons/arrow_icon.svg');
                background-size: 16px;
                background-position: center;
                background-repeat: no-repeat;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        .carousel-control-next-icon {
            &:after {
                transform: rotate(180deg);
            }
        }
    }
}