.aero {
    .contacts {
        padding: 8px 0;
		.col,
		.col-12 {
            border-right: 2px solid $gray95;
            &:nth-last-child(1) {
                border-right: 0;
            }
            span,
            a {
                color: $black;
                font-size: 12px;
                font-weight: 500;
                line-height: 21px;
                margin-bottom: 15px;
                display: block;
            }
            a {
                text-decoration: underline;
            }
            .icon {
                display: flex;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: 0 auto;
                margin-top: 24px;
                margin-bottom: 24px;
                &.phone {
                    width: 27px;
                    height: 27px;
                    background-image: url('../images/icons/phone_icon.svg');
                }
                &.map {
                    width: 24px;
                    height: 24px;
                    background-image: url('../images/icons/location_icon.svg');
                }
                &.mail {
                    width: 24px;
                    height: 20px;
                    background-image: url('../images/icons/email_icon.svg');
                }
            }
		}
		.col-12 {
			border-right: 0;
			border-bottom: 2px solid $gray95;
			&:nth-last-child(1) {
                border-bottom: 0;
            }
		}
    }
    .plane {
        .logo {
            border-right: 2px solid $gray95;
            padding-top: 33px;
            padding-bottom: 33px;
            .image {
                img {
					max-width: 40px;
                }
                margin-right: 25px;
            }
        }
        .info {
            .flight {
                color: $black;
                font-size: 19px;
                font-weight: 500;
                margin-bottom: 5px;
            }
            .title {
                color: $gray45;
                font-size: 12px;
                font-weight: 400;
                line-height: 16.33px;
            }
        }
        .air {
            width: 17px;
            margin-right: 5px;
        }
        .time {
            color: $gray30;
            font-size: 14px;
            font-weight: 400;
        }
        .departure,
        .arrival {
            color: #000000;
            font-size: 19px;
            font-weight: 500;
        }
        .date {
            height: 11px;
            color: $gray20;
            font-size: 12px;
            font-weight: 400;
        }
        .lines {
            position: relative;
            &::before,
            &::after {
                position: absolute;
                content: '';
                display: block;
                width: 24px;
                height: 1px;
                background-color: $gray90;
                top: calc(50% - 0.5px);
            }
            &::before {
                left: 15px;
            }
            &::after {
                right: 15px;
            }
        }
        .status {
            font-size: 12px;
            font-weight: 500;
        }
    }
}
