.afisha {
    .white {
        overflow: visible;
    }
    .top-content {
        margin-bottom: 30px;
        .image {
            padding-left: 25px;
            .img {
                padding-top: 131%;
                position: relative;
                .i {
                    background-position: center;
                    background-size: cover;
                    position: absolute;
                    display: block;
                    top: -40px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-radius: 10px;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                }
            }
        }
        .about {
            padding-left: 15px;
            padding-right: 30px;
            .title {
                margin: 17px 0;
                h2 {
                    font-weight: 500;
                    font-size: 20px;
                    color: $gray20;
                    margin-bottom: 5px;
                }
                h3 {
                    font-size: 14px;
                    color: rgba(51, 51, 51, 0.5);
                    font-weight: 400;
                }
            }
            .description {
                font-size: 14px;
                line-height: 24px;
                color: $gray20;
                font-weight: 400;
                // margin-bottom: 0;
                // max-height: 63px;
                // overflow: hidden;
                // transition: max-height 0.50s ease-in-out;
                // &.open {
                //     max-height: 100%;
                // }
            }
            .genre {
                span {
                    font-size: 14px;
                    color: rgba(51, 51, 51, 0.5);
                    margin-right: 40px;
                    &:nth-last-child(1) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .middle-content {
        padding: 15px 25px;
        border-top: 1px solid $gray95;
        border-bottom: 1px solid $gray95;
        .nav {
            width: 100%;
            &.days {
                background-color: #f2f2f2;
                border-radius: 3px;
                display: flex;
                .nav-item {
                    flex-grow: 1;
                    margin: 0 10px;
                    &:nth-child(1) {
                        margin-left: 0;
                    }
                    &:nth-last-child(1) {
                        margin-right: 0;
                    }
                    .nav-link {
                        border-radius: 3px;
                        background-color: transparent;
                        transition: background-color 0.2s;
                        &:hover {
                            background-color: rgba(0,0,0,.1);
                        }
                        .day {
                            display: block;
                            text-align: center;
                            font-size: 10px;
                            color: $black;
                            opacity: 0.5;
                            transition: color 0.2s;
                        }
                        .number {
                            display: block;
                            text-align: center;
                            font-size: 13px;
                            color: $black;
                            transition: color 0.2
                        }
                        &.active {
                            background-color: $blue;
                            border-radius: 3px;
                            .day,
                            .number {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-content {
        .tab-content {
            width: 100%;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                width: 100%;
                padding: 23px 25px;
                li {
                    flex-grow: 1;
                    margin: 0 6.5px;
                    &:nth-child(1) {
                        margin-left: 0;
                    }
                    &:nth-last-child(1) {
                        margin-right: 0;
                    }
                    border: 1px solid rgba(0, 0, 0, 0.08);
                    box-sizing: border-box;
                    border-radius: 3px;
                    color: $black;
                    padding: 10px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    &.disabled {
                        color: rgba(0, 0, 0, 0.3);
                    }
                    &.active {
                        border: 2px solid $blue;
                        font-weight: 500;
                        color: $blue;
                    }
                }
            }
        }
    }
}
