@import '_variables';

@import '~bootstrap/scss/bootstrap';

@import '~open-iconic/font/css/open-iconic-bootstrap';

@import '~select2/src/scss/core';

@import '~@ttskch/select2-bootstrap4-theme/src/layout';
@import 'select/select';

@import '~owl.carousel/src/scss/owl.carousel';
@import '~owl.carousel/src/scss/owl.theme.default';

@import '~air-datepicker/dist/css/datepicker.min.css';

@import '_fonts';
@import '~lightgallery/dist/css/lightgallery.min.css';
// @import './video.css';
%white-block {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

%block-radius {
    border-radius: 6px;
}

body {
    background-color: #f4f4f4;
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $gray40;
}
a {
    &:hover {
        text-decoration: none;
    }
}

h2 {
    font-size: 23px;
    color: $gray20;
    font-weight: 400;
    &.thin {
        font-weight: 300;
    }
}

hr {
    height: 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $gray92;
}

header {
    width: 100%;
    @extend %white-block;
    margin-bottom: 48px;
    .top {
        padding: 0 43px;
        height: 78px;
        font-weight: 500;
        color: $gray50;
        .arrow {
            padding: 10px 34px 10px 20px;
            position: relative;
            cursor: pointer;
            border: 2px solid $white;
            border-radius: 50px;
            transition: border 0.2s, color 0.2s;
            &:after {
                content: "";
                width: 12px;
                height: 7px;
                position: absolute;
                top: calc(50% - 2.5px);
                right: 12px;
                background-image: url('../images/icons/arrow_down.svg');
                background-repeat: no-repeat;
                background-position: right center;
                background-size: contain;
                transition: transform 0.2s;
            }
            .dropdown {
                display: none;
                position: absolute;
                top: 55px;
                left: 0;
                color: #666666;
                z-index: 9999;
                width: auto;
                small {
                    display: block;
                    white-space: nowrap;
                    padding: 10px 20px;
                }
                a.change_city {
                    display: block;
                    z-index: 99999;
                    color: #666666;
                    padding: 10px 20px;
                    border-bottom: 2px solid $gray96;
                    &:nth-last-child(1) {
                        border-bottom: 0;
                    }
                }
            }
            &.active {
                &:after {
                    transform: rotate(180deg);
                }
                .dropdown {
                    display: block;
                }
            }
            &:hover, &.active {
                border: 2px solid $gray96;
                color: $gray40;
            }
        }
        .login-form {
            color: $gray60;
            font-size: 16px;
            font-weight: 500;
            transition: color 0.2s;
            &:hover {
                color: $gray40;
            }
        }
    }
    .bottom {
        height: 83px;
        border-top: 2px solid $gray95;
        .menu,
        .search {
            height: 100%;
            width: 96px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .menu {
            border-right: 2px solid $gray95;
            background-image: url('../images/icons/toggle.svg');
            background-size: 21px;
            background-repeat: no-repeat;
            background-position: center;
        }
        .search {
            border-left: 2px solid $gray95;
            .icon {
                background-image: url('../images/icons/search.svg');
                background-size: 21px;
                background-repeat: no-repeat;
                background-position: center;
                position: relative;
                cursor: pointer;
                height: 100%;
                width: 96px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-image 0.2s;
            }
            form {
                position: fixed;
                right: -100%;
                width: calc(100% - 220px);
                transition: right 0.3s;
                .input_search {
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 21px;
                        height: 21px;
                        display: block;
                        top: calc(50% - 10.5px);
                        left: 23px;
                        background-image: url('../images/icons/input_search.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    input {
                        border: 0;
                        height: 61px;
                        width: 100%;
                        padding-left: 66px;
                        font-size: 20px;
                        color: #1E1E1E;
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
            &.active {
                .icon {
                    background-image: url('../images/icons/close.svg');
                    background-size: 15px;
                }
                form {
                    position: fixed;
                    right: 110px;
                }
            }
        }
    }
}

.logotype {
    font-family: 'Golos Text', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.24px;
    opacity: 0.9;
    font-size: 19px;
    color: $black;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.1s;
    &:hover {
        opacity: 1;
        color: $black;
        text-decoration: none;
    }
}

.container {
    max-width: 1171px;
}

.breadcrumb {
    padding: 0;
    background: transparent;
    margin: 0;
    color: #1e1e1e;
    font-size: 12px;
    a {
        color: #1e1e1e;
        text-decoration: underline;
        margin: 0 10px;
        &:nth-child(1) {
            margin-left: 0;
        }
    }
    .current {
        color: #a2a2a2;
        margin-left: 10px;
    }
}

.navbar {
    &.bg-white {
        height: 100%;
        padding: 0;
        .navbar-collapse {
            @media(max-width: 992px) {
                position: absolute;
                top: 83px;
                left: calc(50% - 50vw);
                width: 100vw;
                z-index: 3;
                height: auto;
                background: white;
            }
        }
        & > div {
            height: 100%;
            & > .navbar-nav {
                height: 100%;
                & > .nav-item {
                    display: flex;
                    align-items: center;
                    margin: 0 34px;
                    top: 3px solid $white;
                    border-bottom: 3px solid $white;
                    @media (max-width: 992px) {
                        margin: 20px 34px;
                        border-bottom: 0;
                    }
                    & > .nav-link {
                        padding: 0;
                    }
                    &.active {
                        border-bottom: 3px solid $blue;
                        @media (max-width: 992px) {
                            border-bottom: 0;
                        }
                        & > .nav-link {
                            color: $gray20;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

.block {
    overflow: hidden;
    &.mayak {
        padding: 46px 58px;
        border-radius: 6px;
        background-image: url('../images/mayak_bg.jpg');
        background-size: cover;
        background-position: right;
        .title {
            font-size: 18px;
            font-weight: 500;
            color: $black;
            margin-bottom: 10px;
        }
        .mayak-logo {
            width: 157px;
            height: 99px;
            background-image: url('../images/mayak.png');
            background-repeat: no-repeat;
            background-size: contain;
            margin-bottom: 20px;
        }
    }
    &.pdf {
        display: flex;
        transition: background-color 0.2s;
        &:hover {
            background-color: darken($white, 2%);
        }
        &:active {
            box-shadow: inset;
            background-color: darken($white, 4.5%);
        }
        .image {
            width: 70px;
            border-radius: 3px;
            margin: 4px 17px 4px 4px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
        }
        .description {
            margin: 11px 0;
            .title {
                font-size: 16px;
                color: $gray20;
                font-weight: 500;
            }
            .attr {
                display: flex;
                justify-content: space-between;
                font-size: 12px;
                color: $gray65;
                b {
                    color: $gray20;
                    font-weight: 500;
                }
            }
        }
    }
    &.big-img {
        text-align: center;
        .title {
            color: $gray20;
            margin: 5px 0 10px;
            display: block;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
        }
        .image {
            padding-top: 50%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 3px;
            margin: 4px;
            overflow: hidden;
        }
    }

    &.full {
        height: calc(100% - 30px);
    }
    &.forum {
        .header {
            .create {
                padding: 10px 20px;
                font-size: 10px;
                font-weight: 600;
                letter-spacing: 1.25px;
                color: lighten($gray20, 60%);
                border: 2px solid $gray96;
                border-radius: 4px;
                text-transform: uppercase;
                text-decoration: none;
                transition: box-shadow 0.2s, background-color 0.2s;
                &:hover {
                    background-color: #fcfcfc;
                }
                &:active {
                    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.05);
                }
            }
        }
        .body {
            .topic {
                display: flex;
                align-items: center;
                .image {
                    img {
                        object-fit: cover;
                        height: 48px;
                        width: 48px;
                        border-radius: 50%;
                    }
                }
                .column {
                    padding: 0 20px;
                    .title {
                        font-size: 12px;
                        font-weight: 500;
                        color: $gray20;
                        line-height: 15.33px;
                        margin-bottom: 0;
                    }
                    .time {
                        font-size: 12px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
    .header {
        font-size: 14px;
        color: $black;
        font-weight: 500;
        padding: 19px 30px 19px 31px;
        border-bottom: 2px solid $gray95;
        border-top: 2px solid $gray95;
        &:nth-child(1) {
            border-top: 0;
        }
        &:nth-last-child(1) {
            border-bottom: 0;
        }
        &.orange {
            color: $dark_orange;
        }
        &.big {
            text-transform: uppercase;
        }
    }
    .all {
        border-top: 2px solid $gray95;
        text-align: center;
        padding: 22px;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1.25px;
        a {
            color: $gray20;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .news {
        border-bottom: 2px solid $gray95;
        a {
            color: $gray40;
            &:hover {
                text-decoration: underline;
                color: darken($gray40, 5%);
            }
        }
        &:nth-last-child(1) {
            border-bottom: 0;
        }
    }
    p {
        padding: 30px;
    }
    .bus {
        margin: 20px 28px;
        background: rgba(196, 196, 196, 0.15);
        border-radius: 5px;
        padding: 20px 0;
        span {
            display: block;
            text-align: center;
            color: $gray10;
            font-size: 12px;
            &.gray {
                color: $gray30;
                font-size: 10px;
            }
            &.current-stop {
                font-size: 18px;
                font-weight: 600;
            }
            &.time {
                font-size: 20px;
                font-weight: 500;
                color: $blue;
                margin-top: 5px;
            }
        }
    }
    .schedule-bus {
        .col {
            padding-top: 30px;
            border-right: 2px solid $gray95;
            &:nth-last-child(1) {
                border-right: 0;
            }
        }
        span {
            display: block;
            text-align: center;
            &.name {
                font-size: 18px;
                color: $gray10;
            }
            &.description {
                font-size: 14px;
                color: $gray30;
            }
        }
        .schedule {
            list-style: none;
            padding: 0;
            margin: 10px 0;
            li {
                padding: 16px 0 16px 24px;
                position: relative;
                display: block;
                width: 64px;
                margin: 0 auto;
                text-align: left;
                &::before {
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 100%;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    background-color: #DEE0E3;
                }
                &:nth-child(1) {
                    &::before {
                        height: 50%;
                        bottom: 0;
                        top: auto;
                    }
                }
                &:nth-last-child(1) {
                    &:before {
                        height: 50%;
                        bottom: auto;
                        top: 0;
                    }
                }
                &:nth-child(1),
                &:nth-last-child(1) {
                    &::after {
                        content: '';
                        position: absolute;
                        width: 11px;
                        height: 11px;
                        border-radius: 50%;
                        background: #DEE0E3;
                        top: calc(50% - 5.5px);
                        left: -3px;
                    }
                }
                &.active {
                    font-weight: 500;
                    color: $blue;
                    span {
                        position: relative;
                        &::before {
                            position: absolute;
                            content: '';
                            width: 27px;
                            height: 15px;
                            background-image: url('../images/icons/bus.svg');
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            left: -70px;
                            top: calc(50% - 7.5px);
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            width: 17px;
                            height: 17px;
                            border-radius: 50%;
                            background: $white;
                            border: 4px solid $blue;
                            top: calc(50% - 8.5px);
                            left: -30px;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
    &.avia {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                padding: 35px 8px;
                border-bottom: 2px solid $gray95;
                &:nth-last-child(1) {
                    border-bottom: 0;
                }
            }
        }
        .departure,
        .arrival {
            font-size: 14px;
            font-weight: 500;
            color: $black;
        }
        .time {
            font-size: 11px;
            font-weight: 400;
            color: $gray20;
        }
        .air {
            position: relative;
            width: 20px;
            &::before,
            &::after {
                position: absolute;
                content: '';
                width: 13px;
                height: 2px;
                display: block;
                background-color: $gray92;
                top: calc(50% - 1px);
            }
            &::before {
                left: -22px;
            }
            &::after {
                right: -22px;
            }
        }
    }
}

.change-region {
    font-size: 14px;
    font-weight: 500;
    color: $gray20;
}

.category {
    border-radius: 4px;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 6px 10px;
    color: $white;
    text-transform: uppercase;
    background-color: $gray30;
    &.gray {
        background-color: $gray30;
    }
    &.pink {
        background-color: $pink;
    }
    &.green {
        background-color: $green50;
    }
    &.olive {
        background-color: $olive;
    }
    &.dark-olive {
        background-color: $dolive;
    }
    &.purple {
        background-color: $purple;
    }
    &.blue {
        background-color: $cat_blue;
    }
    &.orange {
        background-color: $cat_orange;
    }
    &.light-orange {
        background-color: $cat_orange2;
    }

}

.afisha {
    .film {
        .image {
            padding-top: 145%;
            background-size: cover;
            background-position: center;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }
        .title {
            color: $black;
            font-size: 13px;
            font-weight: 500;
            margin: 15px 0 0;
        }
        .time {
            font-size: 10px;
            font-weight: 400;
        }
    }
}

@import 'administration';
@import 'ads';
@import 'events';
@import 'forum';
@import 'news';
@import 'road';
@import 'archive';
@import 'weather';
@import 'aero';
@import 'afisha';

.icon {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-flex;
    margin-right: 12px;
    &.read {
        width: 22px;
        height: 16px;
        background-image: url('../images/icons/read.svg');
        &.min {
            width: 17px;
            height: 12px;
            background-image: url('../images/icons/read_min.svg');
            &.gray {
                background-image: url('../images/icons/read_gray_min.svg');
            }
        }
    }
    &.comments {
        width: 20px;
        height: 20px;
        background-image: url('../images/icons/comments.svg');
        &.min {
            width: 16px;
            height: 16px;
            background-image: url('../images/icons/comments_min.svg');
            &.gray {
                background-image: url('../images/icons/comments_gray_min.svg');
            }
        }
    }
    &.like {
        width: 16px;
        height: 15px;
        background-image: url('../images/icons/like.svg');
        &.active {
            background-image: url('../images/icons/like_active.svg');
        }
        &.click {
            cursor: pointer;
            opacity: 0.8;
            transition: opacity 0.2s;
            &:hover {
                opacity: 1;
            }
        }
    }
    &.profile {
        &.min {
            width: 13px;
            height: 13px;
            background-image: url('../images/icons/profile_min.svg');
        }
    }
    &.video {
        margin-right: 0;
        max-width: 74px;
        width: 100%;
        height: 74px;
        background-image: url('../images/icons/video.svg');
    }
    &.complaint {
        margin-right: 0;
        max-width: 75px;
        width: 100%;
        height: 74px;
        background-image: url('../images/icons/complaint.svg');
    }
    &.measures {
        margin-right: 0;
        max-width: 65px;
        width: 100%;
        height: 74px;
        background-image: url('../images/icons/measures.svg');
    }
    &.copy-site {
        margin-right: 0;
        max-width: 72px;
        width: 100%;
        height: 74px;
        background-image: url('../images/icons/copy-site.svg');
    }
}

.white {
    @extend %block-radius;
    @extend %white-block;
    overflow: hidden;
}

.weather {
    .temperature {
        margin: 35px 0 15px;
        span {
            margin-left: 10px;
            color: $gray20;
            font-size: 15px;
            font-weight: 400;
            b {
                font-size: 21px;
                font-weight: 500;
            }
        }
    }
    .about {
        color: $gray20;
        font-size: 13px;
        font-weight: 500;
    }
    .wind {
        opacity: 0.7;
        color: $gray20;
        font-size: 11px;
        font-weight: 400;
        b {
            font-weight: 600;
        }
    }
}

footer {
    background: $white;
    padding: 30px 0;
    .footer-nav {
        max-width: 1141px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logotype {
            white-space: nowrap;
            margin-right: 50px;
        }
        .navbar-nav {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            .nav-item {
                flex-grow: 1;
                text-align: center;
                .nav-link {
                    font-size: 13px;
                    font-weight: 400;
                    color: $gray40;
                    &:hover {
                        color: $gray20;
                    }
                }
                &.active {
                    .nav-link {
                        font-weight: 500;
                        color: $gray20;
                    }
                }
            }
        }
    }
}

.alert-bottom {
    left: 25%;
    right: 25%;
    @media (max-width: 768px) {
        left: 20px;
        right: 20px;
    }
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 1.68px;
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
    border-radius: 4px;
    transition: background-color 0.2s;
    border: 0;
    &:hover {
        color: $white;
        text-decoration: none;
        background-color: darken($blue, 5%);
    }
    &:active {
        background-color: darken($blue, 10%);
    }
    &.small {
        height: 40px;
        padding: 0 24px;
        letter-spacing: 1.4px;
        font-size: 10px;
        font-weight: 500;
    }
    &.extra {
        height: 30px;
        padding: 0 18px;
        letter-spacing: 1.26px;
        font-size: 9px;
    }
    &.red {
        background-color: $red_btn;
        &:hover {
            background-color: darken($red_btn, 5%);
        }
        &:active {
            background-color: darken($red_btn, 10%);
        }
    }
    &.btn-white {
        background-color: $white;
        border: 2px solid $gray94;
        color: $gray70;
        &:hover {
            background-color: darken($white, 5%);
        }
        &:active {
            background-color: darken($white, 10%);
        }
    }
    &.btn-outline-blue {
        background-color: transparent;
        border: 1px solid rgba($blue, .7);
        color: $blue;
        font-size: 9px;
        font-weight: 500;
        letter-spacing: 0.4px;
        opacity: 0.7;
        transition: opacity 0.2s, border-color 0.2s;
        &:hover {
            opacity: 1;
        }
        &:active {
            border-color: $blue;
        }
    }
    &.border-radius {
        border-radius: 30px;
    }
    &.btn-transparent {
        background-color: transparent;
        border: 2px solid rgba($white, .2);
        color: rgba($white, .8);
        &:hover {
            background-color: rgba($white, .2)
        }
        &:active {
            background-color: rgba($white, .3)
        }
    }
    &.border-radius {
        border-radius: 30px;
    }
}

.mb-4 {
    margin-bottom: 30px !important;
}

.owl-carousel {
    margin-bottom: 15px;
    .owl-stage {
        display: flex;
        max-height: 80vh;
    }
    .owl-item {
        flex-basis: auto;
        flex-shrink: 0;
        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
        }
    }
    .owl-nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .owl-prev,
        .owl-next {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            background-color: rgba($black, 1) !important;
            position: relative;
            opacity: 0.5;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url('../images/icons/arrow_icon.svg');
                background-size: 16px;
                background-position: center;
                background-repeat: no-repeat;
            }
            &:hover {
                opacity: 0.7;
            }
        }
        .owl-next {
            &:after {
                transform: rotate(180deg);
            }
        }
    }
    .owl-dots {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.btn-success {
    color: $white;
}

#DataTables_Table_0_filter {
    display: none;
}

.only-timepicker .datepicker--nav,
.only-timepicker .datepicker--content {
    display: none;
}
.only-timepicker .datepicker--time {
    border-top: none;
}
.mb-9 {
    margin-bottom: 90px !important;
}

.topic {
    padding: 30px;
    display: flex;
    &.topicstarter {
        border: 1px solid #c1dcff;
        .content {
            p {
                margin-bottom: 25px;
            }
        }
    }
    .img {
        max-width: 48px;
        min-width: 48px;
        width: 100%;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .content {
        max-width: calc(100% - 48px);
        .header {
            margin-top: 5px;
            margin-bottom: 30px;
            .name {
                color: $gray40;
                font-size: 14px;
            }
            .date {
                color: $gray70;
                font-size: 12px;
            }
        }
        p {
            color: #3a3a3a;
            font-size: 13px;
            line-height: 30px;
            margin-bottom: 5px;
            white-space: pre-line;
        }
        .likes {
            display: flex;
            align-items: center;
            font-size: 12px;
            font-family: 'Roboto';
            font-weight: 700;
            .like,
            .dislike {
                width: 22px;
                height: 20px;
                display: inline-flex;
                background-image: url('../images/icons/like_icon.svg');
                background-size: contain;
                background-position: center;
                margin-right: 15px;
            }
            .dislike {
                transform: rotate(180deg);
                margin-top: 7px;
                margin-left: 15px;
                margin-right: 0;
            }
        }
    }
}

.new {
    .header {
        color: $gray40;
        font-family: "Golos Text";
        font-size: 14px;
        padding: 20px 30px;
        border-bottom: 2px solid $gray96;
    }
    .content {
        padding: 19px 30px;
        display: flex;
        .img {
            max-width: 48px;
            width: 100%;
            height: 48px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        textarea {
            width: 100%;
            border: 0;
            color: $gray50;
            font-size: 13px;
            font-weight: 400;
            padding-top: 15px;
            &:focus {
                outline: none;
            }
        }
        .send {
            max-width: 40px;
            width: 100%;
            height: 40px;
            border-radius: 50%;
            background-color: $blue;
            transition: background-color 0.2s;
            display: block;
            position: relative;
            border: 0;
            &:hover {
                background-color: darken($blue, 7%);
            }
            &:active {
                background-color: darken($blue, 15%);
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url('../images/icons/send_icon.svg');
                background-size: 14px;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}


.current_balance {
    color: #798c90;
    font-size: 16px;
    font-weight: 400;
    display: block;
}
.current_balance_sum {
    display: block;
    color: #405557;
    b {
        font-size: 18px;
        font-weight: 700;
    }
    font-size: 14px;
    font-weight: 400;
}
.table-grey {
    thead {
        tr {
            th {
                color: #5e5e5e;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    tbody {
        tr {
            td {
                color: #9bb0b4;
                font-size: 14px;
                &.green {
                    color: #5dbd28;
                }
                &.red {
                    color: #dd4545;
                }
            }
        }
    }
}

.noavatar {
    background-image: url('../images/noavatar.jpg');
}

@import "closed";
