.add-file {
    input[type="file"] {
        display: none;
    }
    input[type="file"]:focus + label {
        border-color: $red;
    }
    input[type="file"] + label {
        background: rgba(255, 255, 255, 0.5);
        border: 1px dashed #AFAFAF;
        box-sizing: border-box;
        border-radius: 6px;
        display: block;
        cursor: pointer;
        text-align: center;
        padding: 25px 0 15px;
        transition: 0.2s;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.preview {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            border: 2px solid #EFEFEF;
            font-size: 12px;
            font-weight: 500;
            border-radius: 4px;
            &.active {
                background: #EFEFEF;
            }
        }
        &:hover {
            background: rgba(255, 255, 255, 0.8);
            border-color: $blue;
        }
        .icon {
            &.plus {
                margin: 0;
                width: 20px;
                height: 20px;
                display: block;
                background-image: url('../images/icons/plus.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        .name {
            font-size: 16px;
            color: $gray20;
            font-weight: 500;
            margin: 5px 0 15px;
        }
        .format,
        .formats {
            color: $gray20;
            font-size: 12px;
            font-weight: 500;
        }
        .formats {
            font-weight: 400;
            opacity: 0.5;
        }
    }
    .form {
        padding: 34px 38px 30px;
        .input {
            border: 2px solid #EFEFEF;
            box-sizing: border-box;
            border-radius: 4px;
            height: 50px;
            width: 100%;
            padding-left: 23px;
            transition: border-color 0.2s;
            font-size: 12px;
            font-weight: 500;
            color: $gray60;
            &:focus {
                border-color: $blue;
                outline: none;
            }
        }
        .textarea {
            border: 2px solid #EFEFEF;
            box-sizing: border-box;
            border-radius: 4px;
            width: 100%;
            padding: 15px 23px;
            transition: border-color 0.2s;
            font-size: 12px;
            font-weight: 500;
            color: $gray60;
            &:focus {
                border-color: $blue;
                outline: none;
            }
        }
    }
    .icon {
        display: inline-flex;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        &.taggs {
            width: 20px;
            height: 16px;
            background-image: url('../images/icons/taggs.svg');
        }
    }
}
.archive {
	.file {
		padding-top: 95%;
		position: relative;
		border-radius: 6px;
		overflow: hidden;
		&>* {
		    position: absolute;
		}
		.image {
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background-size: cover;
		    background-position: center;

		    &::after {
		        content: '';
		        position: absolute;
		        top: 0;
		        left: 0;
		        bottom: 0;
		        right: 0;
		        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4416141456582633) 0%, rgba(0, 0, 0, 0.004) 57%);
		    }
		}
		.title {
			bottom: 20px;
			left: 20px;
			right: 20px;
			font-size: 16;
			line-height: 1.2;
			font-weight: 500;
			color: $white;
			text-align: center;
		}
		.play-button {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('../images/icons/play.svg');
			background-size: 48px;
			background-position: center center;
			background-repeat: no-repeat;
		}
		.duration {
			background: rgba(0, 0, 0, 0.3);
			border-radius: 4px;
			padding: 3px 15px 4px;
			font-size: 12px;
			font-weight: 400;
			color: $white;
			top: 10px;
			right: 10px;
		}
	}
}