@import '_normalize';

@import '_variables';

@import '~bootstrap/scss/bootstrap';

@import '~open-iconic/font/css/open-iconic-bootstrap';

@import '~select2/src/scss/core';

@import '~@ttskch/select2-bootstrap4-theme/src/layout';
@import 'select/select';

@import '~owl.carousel/src/scss/owl.carousel';
@import '~owl.carousel/src/scss/owl.theme.default';

@import '~air-datepicker/dist/css/datepicker.min.css';

@import '~lightgallery/dist/css/lightgallery.min.css';

@import '../fonts/golostext/golostext.css';

html, body {
	background-color: #F4F4F4;
	min-height: 100vh;
}
hr {
	border-bottom: 1px solid rgba(235, 235, 245, 1);
	border-top: 0;
}
h1 {
	font-family: 'Golos Text';
	font-size: 24px;
	color: #333333;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 10px;
}
.mb-1 {
	margin-bottom: 10px !important;
}
.mb-2 {
	margin-bottom: 20px !important;
}
.mb-3 {
	margin-bottom: 25px !important;
}
.mb-4 {
	margin-bottom: 30px !important;
}
.mt-1 {
	margin-top: 10px !important;
}
.my-2 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.container-fluid {
	max-width: 1140px;
	margin: 0 auto;
}
@import 'cabinet/header';
@import 'cabinet/icons';
@import 'cabinet/blocks';
@import 'cabinet/buttons';
@import 'cabinet/navbar';
@import 'cabinet/page/auth';
@import 'cabinet/page/home';
@import 'cabinet/page/traffic';
@import 'cabinet/page/payment';
@import 'cabinet/page/change_tarif';
h4 {
    font-family: 'Golos Text', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #222222;
}
