.closed {
    h1 {
        font-size: 28px;
        font-weight: 300;
        color: rgba(51,51,51,.70);
        text-align: center;
    }
    h2 {
        font-weight: 600;
        font-size: 28px;
        color: #333333;
        text-align: center;
    }
    .vhod {
        display: flex;
        flex-direction: column;
        max-width: 360px;
        margin-top: 30px;
        background: #FFFFFF;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        padding: 30px;
        input[type="text"] {
            border: 2px solid #EDF0F2;
            box-sizing: border-box;
            border-radius: 2px;
            height: 50px;
            padding: 0 20px;
            font-size: 14px;
            font-width: 400;
            color: #A0A0A2;
            margin-bottom: 20px;
        }
        input[type="checkbox"]{
            display: none;
        }
        input[type="checkbox"] + label {
            font-size: 13px;
            letter-spacing: -0.2px;
            color: #222;
            padding-left: 40px;
            position: relative;
            cursor: pointer;
            margin-bottom: 20px;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: calc(50% - 15px);
                height: 30px;
                width: 30px;
                border: 2px solid #EDF0F2;
                border-radius: 2px;
            }
            &::after {
                content: '';
                position: absolute;
                left: 6px;
                top: calc(50% - 7px);
                height: 14px;
                width: 18px;
                background-image: url('../images/icons/checkbox.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 0;
                transition: opacity 0.2s;
            }
        }
        input[type="checkbox"]:checked + label {
            &::after {
                opacity: 1;
            }
        }
    }
}
