.events {
    .block {
        position: relative;
        margin-bottom: 30px;
        .top {
            padding-top: 58.2%;
            background-size: cover;
            background-position: center;
            position: relative;
            .category {
                position: absolute;
                top: 22px;
                left: 22px;
            }
        }
        &.big {
            .top {
                padding-top: 116.4%;
                &:before {
                    content: '';
                    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
            .bottom {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                .content {
                    .title {
                        color: $white;
                    }
                }
            }
        }
        .bottom {
            padding-top: 58.2%;
            position: relative;
            .content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-left: 20px;
                padding-right: 20px;
                height: 100%;
                .date {
                    color: $gray70;
                    font-size: 9px;
                    font-weight: 500;
                }
                .title {
                    color: $gray40;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 22.3px;
                    margin: 10px 0;
                }
            }
        }
    }
}
.fullevent {
    .header {
        padding-top: 45%;
        position: relative;
        background-position: center;
        background-size: cover;
        .absolute {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: rgba(0,0,0,.44);
            h1 {
                font-size: 27px;
                font-weight: 500;
                color: $white;
                max-width: 75%;
                margin: 40px 0;
                transition: font-size 0.2s;
                @media(max-width: 768px) {
                    font-size: 20px;
                    max-width: 100%;
                }
                @media(max-width: 528px) {
                    font-size: 17px;
                }
            }
            .info {
                font-size: 10px;
                color: $white;
                font-weight: 500;
            }
            hr {
                width: 51px;
                height: 2px;
                border: 0;
                background-color: #f44336;
                margin: 0;
            }
            .stats {
                margin-top: 40px;
                opacity: 0.75;
                color: $white;
                font-weight: 500;
                font-size: 10px;
            }
        }
    }
    .content {
        padding-top: 25px;
        p {
            padding: 0 75px;
            margin-bottom: 25px;
            color: $gray40;
            font-size: 12px;
            font-weight: 400;
            img {
                margin: 0 -75px;
                width: calc(100% + 150px);
            }
        }
        ul {
            font-size: 12px;
            margin-left: 40px;
            margin-right: 40;
        }
        h1 {
            font-size: 1.5rem;
            margin: 30px 0;
            padding: 0 75px;
        }
        h2 {
            color: $gray40;
            font-size: 19px;
            font-weight: 600;
            margin: 30px 0px;
            padding-left: 75px;
        }
        .info {
            padding: 20px 40px;
            border-top: 1.5px solid $gray96;
            border-bottom: 1.5px solid $gray96;
            color: $gray70;
            font-size: 11px;
            .profile {
                display: flex;
                align-items: center;
                .img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin-right: 20px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .name {
                    color: $gray40;
                    font-size: 10px;
                    font-weight: 400;
                }
            }
        }
        .tags {
            padding: 25px 40px 30px;
            span {
                font-size: 10px;
                color: #b8b8b8;
                padding: 4px 9px;
                border-radius: 4px;
                border: 2px solid $gray96;
            }
        }
    }
}