.forum {
    .nav-tabs {
        border-bottom: 2px solid $gray96;
        padding: 0 20px;
        .nav-item {
            margin-bottom: -2px;
            .nav-link {
                border: 0;
                color: #868686;
                font-size: 14px;
                font-weight: 400;
                position: relative;
                height: 100%;
                padding: 30px 0;
                margin: 0 20px;
                // Set up base styles, we're going to scale instead of animating width/height
                &::before {
                    box-sizing: inherit;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    transform-origin: center; // Ensure scaling is done from the center (expands outwards)
                }
                &::before {
                    border-bottom: 2px solid $blue;
                    transform: scale3d(0,1,1); // Shrink only width
                }
                &:hover::before {
                    transform: scale3d(1,1,1); // Show full-size
                    transition: transform 0.5s;
                }
                &.active, &:hover {
                    color: $blue;
                    border: 0;
                }
                &.active {
                    border-bottom: 2px solid $blue;
                    &:hover {
                        &::before {
                            border-bottom: 0px solid $blue;
                            transform: scale3d(0,1,1); // Shrink only width
                        }
                    }
                }
            }
        }
    }
    .tab-content {
        .topic {
            height: 88px;
            border-top: 2px solid $gray96;
            padding: 0 30px;
            .left {
                h3 {
                    a {
                        color: $gray40;
                        font-size: 14px;
                        font-weight: 400;
                        text-decoration: none;
                        transition: color 0.2s;
                        &:hover {
                            color: $gray30;
                            text-decoration: underline;
                        }
                    }
                }
                .info {
                    color: $gray70;
                    font-size: 12px;
                    span {
                        margin-right: 25px;
                        &:nth-last-child(1) {
                            margin-right: 0;
                        }
                    }
                }
            }
            .right {
                display: flex;
                align-items: center;
                max-width: 200px;
                width: 100%;
                .img {
                    width: 48px;
                    height: 48px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-right: 20px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .info {
                    span {
                        display: block;
                    }
                    .name {
                        color: #686868;
                        font-size: 14px;
                    }
                    .date {
                        color: #d0d0d0;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .search {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 46px;
            width: 18px;
            height: 18px;
            background-image: url('../images/icons/search_icon.svg');
            background-size: contain;
            background-position: center;
            top: calc(50% - 9px);
        }
        input {
            max-width: 100%;
            width: 100%;
            border: 0;
            height: 58px;
            color: $gray70;
            font-family: "Golos Text";
            font-size: 13px;
            font-weight: 400;
            padding: 0 40px 0 88px;
            &:focus {
                box-shadow: none;
                overflow: none;
                outline: none;
                border: 0;
            }
        }
    }
}

.fulltopic {
    .topic {
        padding: 30px;
        display: flex;
        &.topicstarter {
            border: 1px solid #c1dcff;
            .content {
                p {
                    margin-bottom: 25px;
                }
            }
        }
        .img {
            max-width: 48px;
            width: 100%;
            height: 48px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .content {
            .header {
                margin-top: 5px;
                margin-bottom: 30px;
                .name {
                    color: $gray40;
                    font-size: 14px;
                }
                .date {
                    color: $gray70;
                    font-size: 12px;
                }
            }
            p {
                color: #3a3a3a;
                font-size: 13px;
                line-height: 30px;
                margin-bottom: 5px;
            }
            .likes {
                display: flex;
                align-items: center;
                font-size: 12px;
                font-family: 'Roboto';
                font-weight: 700;
                .like,
                .dislike {
                    width: 22px;
                    height: 20px;
                    display: inline-flex;
                    background-image: url('../images/icons/like_icon.svg');
                    background-size: contain;
                    background-position: center;
                    margin-right: 15px;
                }
                .dislike {
                    transform: rotate(180deg);
                    margin-top: 7px;
                    margin-left: 15px;
                    margin-right: 0;
                }
            }
        }
    }

    .new {
        .header {
            color: $gray40;
            font-family: "Golos Text";
            font-size: 14px;
            padding: 20px 30px;
            border-bottom: 2px solid $gray96;
        }
        .content {
            padding: 19px 30px;
            display: flex;
            .img {
                max-width: 48px;
                width: 100%;
                height: 48px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 20px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            textarea {
                width: 100%;
                border: 0;
                color: $gray50;
                font-size: 13px;
                font-weight: 400;
                padding-top: 15px;
                &:focus {
                    outline: none;
                }
            }
            .send {
                max-width: 40px;
                width: 100%;
                height: 40px;
                border-radius: 50%;
                background-color: $blue;
                transition: background-color 0.2s;
                display: block;
                position: relative;
                border: 0;
                &:hover {
                    background-color: darken($blue, 7%);
                }
                &:active {
                    background-color: darken($blue, 15%);
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-image: url('../images/icons/send_icon.svg');
                    background-size: 14px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
