.news {
    overflow: hidden;
    &.big {
        .top {
            .content {
                text-align: center;
                .text {
                    display: block;
                    height: auto;
                    h3 {
                        a {
                            font-size: 26px;
                            color: $white;
                            font-weight: 400;
                            padding: 0 30px;
                            margin-top: 34px;
                            line-height: 35px;
                        }
                    }
                }
            }
        }
    }
    .top {
        position: relative;
        padding-top: 50%;
        background-size: cover;
        background-position: center;
        .content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
            background-color: rgba(0,0,0,.3);
            .text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 15px;
                height: 100%;
                width: 100%;
                align-items: flex-start;
                h3 {
                    line-height: 0.75rem;
                    a {
                        font-size: 14px;
                        font-weight: 400;
                        color: $white;
                    }
                }
            }
        }
        .share {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            background-image: url('../images/icons/share.svg');
            background-repeat: no-repeat;
            background-size: 13px;
            background-position: center;
            border-radius: 50%;
            transition: background-color 0.2s;
            &:hover {
                background-color: rgba(0,0,0,.2);
            }
        }
    }
    .bottom {
        height: 64px;
        display: flex;
        align-items: center;
        padding: 0 29px;
        font-size: 12px;
    }

    .block {
        margin: 0 15px 30px;
        width: 100%;
        .image {
            max-width: 293px;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            @media(max-width: 576px) {
                max-width: 100%;
                padding-bottom: 50% !important;
            }
        }
        .content {
            width: 100%;
            .title {
                font-size: 18px;
                font-weight: 400;
                line-height: 25.67px;
                color: $gray15;
                margin: 30px 0 25px 35px;
                a {
                    color: $gray15;
                    &:hover {
                        text-decoration: underline;
                        color: $gray10;
                    }
                }
            }
            .short {
                color: $gray60;
                font-size: 13px;
                font-weight: 400;
                line-height: 25px;
                margin-left: 35px;
                margin-bottom: 30px;
            }
            .info {
                border-top: 2px solid $gray95;
                padding: 0 35px;
                .time {
                    color: #76767a;
                    font-size: 12px;
                    font-weight: 400;
                }
                .stats {
                    color: $gray70;
                    font-size: 12px;
                }
            }
        }
    }
}

.fullnews {
    .header {
        padding-top: 45%;
        position: relative;
        background-position: center;
        background-size: cover;
        .absolute {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: rgba(0,0,0,.44);
            h1 {
                font-size: 27px;
                font-weight: 500;
                color: $white;
                max-width: 75%;
                margin: 40px 0;
                transition: font-size 0.2s;
                @media(max-width: 768px) {
                    font-size: 20px;
                    max-width: 100%;
                }

                @media(max-width: 528px) {
					font-size: 17px;
					margin: 15px 0;
                }
            }
            .info {
                font-size: 10px;
                color: $white;
                font-weight: 500;
            }
            hr {
                width: 51px;
                height: 2px;
                border: 0;
                background-color: #f44336;
                margin: 0;
            }
            .stats {
                margin-top: 40px;
                opacity: 0.75;
                color: $white;
                font-weight: 500;
				font-size: 10px;
				@media(max-width: 578px) {
					margin-top: 0;
				}
            }
        }
    }
    .content {
        padding-top: 25px;
        p {
            padding: 0 40px;
            margin-bottom: 25px;
            color: $gray40;
            font-size: 12px;
            font-weight: 400;
        }
        .info {
            padding: 20px 40px;
            border-top: 1.5px solid $gray96;
            border-bottom: 1.5px solid $gray96;
            color: $gray70;
            font-size: 11px;
            .profile {
                display: flex;
                align-items: center;
                .img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin-right: 20px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .name {
                    color: $gray40;
                    font-size: 10px;
                    font-weight: 400;
                }
            }
        }
        .tags {
            padding: 25px 40px 30px;
            span {
                font-size: 10px;
                color: #b8b8b8;
                padding: 4px 9px;
                border-radius: 4px;
                border: 2px solid $gray96;
            }
        }
    }
}
.poll {
    .header {
        padding: 25px 50px;
        border-bottom: 1px solid $gray96;
        line-height: 13px;
        .title {
            color: #060606;
            font-weight: 600;
            font-size: 20px;
            line-height: 22px;
        }
        .subtitle {
            opacity: 0.6;
            color: #060606;
            font-size: 14px;
            font-weight: 400;
        }
    }
    .content {
        padding: 20px 50px;
        hr {
            margin: 20px -50px;
        }
        ul {
            margin-bottom: 0;
            padding: 0;
            list-style: none;
            li {
                margin: 7px 0;
                display: flex;
                align-items: center;
                .percent {
                    width: 46px;
                    white-space: nowrap;
                    font-size: 16px;
                    margin-left: 10px;
                    text-align: center;
                    b {
                        font-weight: 500;
                        color: $black;
                    }
                }
                label {
                    width: 100%;
                    .line {
                        background: #F5F5F5;
                        height: 5px;
                        border-radius: 5px;
                        width: 100%;
                        display: block;
                        box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.11);
                        padding: 1px 2px;
                        .blue {
                            display: block;
                            background-color: $blue;
                            height: 100%;
                            border-radius: 5px;
                        }
                    }
                }
                input[type=radio] {
                    display: none;
                    &+label {
                        position: relative;
                        padding-left: 44px;
                        margin: 0;
                        color: #484848;
                        font-size: 16px;
                        cursor: pointer;
                        transition: color 0.2s, font-weight 0.2s;
                        &::before {
                            content: '';
                            position: absolute;
                            top: calc(50% - 11px);
                            left: 0;
                            width: 22px;
                            height: 22px;
                            border: 2px solid #f1f1f1;
                            border-radius: 50%;
                            transition: border-color 0.2s;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: $blue;
                            left: 5px;
                            top: calc(50% - 6px);
                            opacity: 0;
                            transition: opacity 0.2s;
                        }
                        &:hover {
                            color: $blue;
                            font-weight: 500;
                            &::before {
                                border-color: $blue;
                            }
                        }
                    }
                    &:checked+label {
                        color: $blue;
                        font-weight: 500;
                        &::before {
                            border-color: $blue;
                        }
                        &:after {
                            opacity: 1;
                        }
                    }
                    &:disabled + label {
                        &:hover {
                            color: #484848;
                            font-weight: 400;
                            &::before {
                                border-color: #f1f1f1;
                            }
                        }
                    }
                    &:disabled:checked + label {
                        &:hover {
                            color: $blue;
                            font-weight: 500;
                            &::before {
                                border-color: $blue;
                            }
                        }
                    }
                }
                input[type=checkbox] {
                    display: none;
                    & + label {
                        position: relative;
                        padding-left: 44px;
                        margin: 0;
                        color: #484848;
                        font-size: 16px;
                        cursor: pointer;
                        transition: color 0.2s, font-weight 0.2s;
                        &::before {
                            content: '';
                            position: absolute;
                            top: calc(50% - 11px);
                            left: 0;
                            width: 22px;
                            height: 22px;
                            border: 2px solid #f1f1f1;
                            border-radius: 4px;
                            transition: border-color 0.2s;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            width: 22px;
                            height: 22px;
                            border-radius: 50%;
                            background-color: $blue;
                            border: 2px solid $blue;
                            background-image: url('../images/icons/check.svg');
                            background-size: 12px;
                            background-position: center;
                            background-repeat: no-repeat;
                            border-radius: 4px;
                            left: 0;
                            top: calc(50% - 11px);
                            opacity: 0;
                            transition: opacity 0.2s;
                        }
                        &:hover {
                            color: $blue;
                            font-weight: 500;
                            &::before {
                                border-color: $blue;
                            }
                        }
                    }
                    &:checked + label {
                        color: $blue;
                        font-weight: 500;
                        &::after {
                            opacity: 1;
                        }
                    }
                    &:disabled + label {
                        &:hover {
                            color: #484848;
                            font-weight: 400;
                            &::before {
                                border-color: #f1f1f1;
                            }
                        }
                    }
                    &:disabled:checked + label {
                        &:hover {
                            color: $blue;
                            font-weight: 500;
                            &::before {
                                border-color: $blue;
                            }
                        }
                    }
                }
            }
        }
    }
}
