.road {
    .table-road {
        th {
            border: 1px solid #e9eff3;
            background-color: #fafcfc;
            color: #444444;
            font-size: 10px;
            font-weight: 500;
            text-align: center;
            vertical-align: middle;
        }
        tr {
            background-color: $white;
            &:nth-child(2n) {
                background-color: #fafcfc;
            }
            td {
                border: 1px solid #e9eff3;
                border-bottom: 0;
                color: #444444;
                font-size: 12px;
                font-weight: 400;
                text-align: center;
                vertical-align: middle;
                &.red {
                    background-color: #ec1005;
                    color: $white;
                }
                &.green {
                    background-color: #319d28;
                    color: $white;
                }
                &:nth-child(7) {
                    font-size: 10px;
                }
            }
        }
    }
}