.weather {
    .nav-pills {
        .nav-item {
            .nav-link {
                display: flex;
                justify-content: center;
                padding: 0;
                transition: background-color 0.2s;
                position: relative;
                .day {
                    font-weight: 500;
                    font-size: 40px;
                    color: $gray65;
                    transition: color 0.2s;
                    margin-right: 9px;
                }
                .mounth {
                    font-size: 14px;
                    font-weight: 500;
                    color: $gray65;
                    transition: color 0.2s;
                }
                .week {
                    font-size: 10px;
                    font-weight: 400;
                    color: $gray65;
                    transition: color 0.2s;
                }
                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    right: 0;
                    height: 10px;
                    bottom: -10px;
                    background-color: transparent;
                    transition: background-color 0.2s;
                }
                &.active {
                    background-color: #FFFFFF;
                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
                    border-radius: 6px 6px 0 0;
                    .day {
                        color: $blue;
                    }
                    .mounth {
                        color: $gray10;
                    }
                    &::before {
                        background-color: #fff;
                    }
                }

            }
        }
    }
    .tab-content {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                padding: 15px;
                border-bottom: 1px solid #F3F3F3;
                &:nth-last-child(1) {
                    border-bottom: 0;
                }
                .temperature {
                    margin: 0;
                    span {
                        text-align: center;
                        font-size: 20px;
                        font-weight: 500;
                        color: $gray20;
                    }
                    .title {
                        font-weight: 400;
                        font-size: 12px;
                        color: $gray65;
                    }
                }
                .icon {
                    font-weight: 400;
                    font-size: 13px;
                    color: $gray20;
                    span {
                        margin-left: 10px;
                    }
                }
                .pressure,
                .wind_speed,
                .humidity {
                    font-weight: 400;
                    color: $gray20;
                    font-size: 16px;
                    .title {
                        font-weight: 400;
                        font-size: 12px;
                        color: $gray65;
                    }
                }
            }
        }
    }
}
.day-weather {
	h3 {
		font-size: 18px;
		text-align: center;
		padding: 20px;
		color: #1E1E1E;
		font-weight: 400;
		margin-bottom: 0;
		i {
			font-style: normal;
			color: $blue;
		}
		b {
			font-weight: 500;
		}
	}
	.gray-row {
		background: #FDFDFD;
		border: 1px solid rgba(0, 0, 0, 0.04);
		border-radius: 10px;
		margin: 5px 8px;
		padding: 16px 20px;
		&:nth-child(1) {
			margin-top: 0;
		}
		&:nth-last-child(1) {
			margin-bottom: 20px;
		}
	}
}