.select2-container--form {
    .select2-selection.select2-selection--multiple {
        border: 2px solid #EFEFEF;
        box-sizing: border-box;
        border-radius: 4px;
        min-height: 50px;
        width: 100%;
        transition: border-color 0.2s;
        font-size: 12px;
        font-weight: 500;
        background: $white;
        color: $gray60;
        &:focus {
            border-color: $blue;
            outline: none;
        }

    // input box
    .select2-selection__rendered {
      box-sizing: border-box;
      list-style: none;
      margin: 0;
      padding: 0 8px;
      width: 100%;

      .select2-search__field {
          margin: 6.5px 0;
      }
    }

    // each selected item in input box
    .select2-selection__choice {
      color: $gray20;
      background: #EAEAEA;
      border-radius: 30px;
      padding: 4px 0;
      padding-left: 12px;
      cursor: pointer;
      float: left;
      margin: 2.5px 5px 2.5px 0;
      font-size: 12px;
      font-weight: 500;
      font-family: 'Golos Text', sans-serif;
    }

    // x button of each selected item in input box
    .select2-selection__choice__remove {
      color: $gray20;
      font-weight: bold;
      margin-right: 3px;
      margin-left: 1px;
      padding-right: 7px;
      padding-left: 7px;
      float: right;
      opacity: 0.3;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
    }

    // all clear button
    .select2-selection__clear {
      // overwrite layout.scss
      float: none;
      margin-right: 0;

      position: absolute !important;
      top: 0;
      right: 0.7em;
    }
  }
}
