.white {
	background-color: white;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
	border-radius: 6px;
	&.auth {
		max-width: 462px;
		padding: 40px 50px;
	}
	&.traffic {
		padding: 20px 35px;
	}
	&.devices {
		padding: 10px 35px 20px;
	}
	&.buy {
		padding: 20px 35px 30px;
	}
	&.tarif {
		padding: 20px 35px;
	}
	&.payment {
		padding: 20px 35px 30px;
	}
}
.row-tarif {
	align-items: center;
	.block {
		border: 1px solid rgba(34, 34, 34, 0.03);
		box-sizing: border-box;
		box-shadow: 0px 10px 20px rgba(16, 36, 64, 0.1);
		border-radius: 6px;
		padding: 12px;
		&.no-shadow {
			box-shadow: 0 0 0;
			border: 0;
		}
		.tarif {
			.count {
				font-weight: 800;
				font-size: 56px;
				letter-spacing: 4px;
				color: #1875F0;
			}
			.rows {
				span {
					color: opacify(#76767A, 0.3);
					border-bottom: 1px solid opacify(#A0A0A2, 0.6);
					font-size: 14px;
					display: block;
					&:nth-last-child(1) {
						border-bottom: 0;
					}
				}
			}
		}
		.price {
			background: opacify(#F3F3F4, 0.35);
			border-radius: 6px;
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
			font-size: 24px;
			color: #76767A;
			b {
				font-size: 34px;
				font-weight: 400;
				color: #222222;
			}
		}
	}
	.description {
	    p {
	        font-size: 14px;
	        line-height: 18px;
			color: #676767;
			margin-bottom: 0;
	    }
	}
}