.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	font-family: 'Golos Text';
	font-size: 16px;
	font-weight: 500;
	height: 50px;
	transition: 0.2s;
	&.inline {
		display: inline-flex;
		padding: 0 22px;
	}
	&.small {
		height: 40px;
		font-size: 14px;
	}
	&:hover {
		text-decoration: none;
	}
	&.primary {
		background-color: rgba(24, 117, 240, 1);
		color: rgba(255, 255, 255, 1);
		&:hover,
		&.active {
			background-color: darken(rgba(24, 117, 240, 1), 2%);
		}
		&:active {
			background-color: darken(rgba(24, 117, 240, 1), 5%);
		}
		&-outline {
		    color: rgba(24, 117, 240, 1);
			border: 1px solid rgba(24, 117, 240, 1);
			background-color: transparent;
			&:hover,
			&.active {
		        background-color: rgba(24, 117, 240, 1);
		        color: white;
			}
			&:active {
			    background-color: darken(rgba(24, 117, 240, 1), 5%);
			}
		}
	}
	&.gray {
		background-color: #F3F3F4;
		color: #89898D;
		&:hover,
		.active {
			background-color: darken(#F3F3F4, 2%);
		}
		&:active {
			background-color: darken(#F3F3F4, 5%);
		}
	}
}