header {
	min-height: 80px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: stretch;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
	z-index: 1;
	.content {
		max-width: 1140px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}
	.logo {
		font-family: 'Golos Text';
		font-weight: 900;
		color: rgba(34, 34, 34, 1);
		font-size: 18.6px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
	}
	nav {
		flex-grow: 1;
		height: 100%;
		ul {
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-around;
			list-style: none;
			height: 100%;
			li {
				display: flex;
				align-items: center;
				border-top: 3px solid transparent;
				border-bottom: 3px solid transparent;
				transition: 0.2s;
				a {
					font-size: 16px;
					font-family: 'Golos Text';
					font-weight: 400;
					color: rgba(118, 118, 122, 1);
					&:hover {
						text-decoration: none;
						font-weight: 500;
						color: rgba(34, 34, 34, 1);
					}
				}
				&.active,
				&:hover {
					border-top: 3px solid rgba(24, 117, 240, 1);
					a {
						color: rgba(34, 34, 34, 1);
						font-weight: 500;
					}
				}
			}
		}
	}
	.links {
		display: flex;
		.link {
		    padding: 0 27px;
		    display: flex;
		    align-items: center;
		    border-left: 2px solid rgba(244, 244, 244, 1);
		    color: rgba(34, 34, 34, 1);
		    font-family: 'Golos Text';
		    font-size: 16px;
		    transition: 0.2s;
		    position: relative;

		    &:hover {
				background-color: darken(white, 2%);
				text-decoration: none;
				&:nth-last-child(1) {
					background-color: white;
				    &::after {
				        transform: rotate(180deg);
				    }
				}
		    }

		    &:nth-last-child(1) {
		        &::after {
		            content: '';
		            position: absolute;
		            top: calc(50% - 4.5px);
		            right: 0;
		            width: 14px;
		            height: 9px;
		            display: block;
		            background-repeat: no-repeat;
					background-image: url('../../images/icons/cabinet/dropdown.svg');
					transition: 0.2s;
		        }
		    }
		}
	}
	ul.dropdown {
		display: none;
	}

}