.icon {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-flex;
	&.account {
		width: 18px;
		height: 18px;
		background-image: url('../../images/icons/cabinet/account_icon.svg');
		margin-right: 16px;
	}
	&.up,
	&.down {
		width: 12px;
		height: 13px;
		margin-right: 7px;
	}
	&.up {
		background-image: url('../../images/icons/cabinet/up.svg');
	}
	&.down {
	    background-image: url('../../images/icons/cabinet/down.svg');
	}
	&.rub {
		width: 50px;
		height: 50px;
		margin-right: 15px;
		background-image: url('../../images/icons/cabinet/rub.png');
	}
	&.globus {
		width: 22px;
		height: 22px;
		background-image: url('../../images/icons/cabinet/globus.svg');
	}
	&.phone {
		width: 13px;
		height: 20px;
		background-image: url('../../images/icons/cabinet/phone.svg');
	}
	&.tablet {
		width: 13px;
		height: 20px;
		background-image: url('../../images/icons/cabinet/phone.svg');
		transform: rotate(-90deg);
	}
	&.network {
		width: 9px;
		height: 11px;
		background-image: url('../../images/icons/cabinet/network.svg');
		margin-right: 10px;
	}
	&.back {
		width: 12px;
		height: 10.5px;
		background-image: url('../../images/icons/cabinet/arrow_left.svg');
	}
}