.bar {
	background-color: white;
	border-radius: 6px;
	align-items: center;
	height: 50px;
	align-items: stretch;
	.to_back {
		width: 46px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 1px solid #EBEBF5;
	}
	ul {
		list-style: none;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
		font-family: 'Golos Text';
		li {
			padding: 0 27px;
			position: relative;
			color: #76767A;
			font-size: 14px;
			a {
				font-weight: 500;
				color: #1875F0;
			}
			&::after {
				content: "";
				position: absolute;
				top: calc(50% - 5px);
				width: 7px;
				height: 10px;
				right: -3.5px;
				background-image: url('../../images/icons/cabinet/delimeter.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
			&:nth-last-child(1) {
				&::after {
					content: none;
				}
			}
		}
	}
}